<div id="desktopNav" class="">
	<div class="bgColor"></div>
	<div class="container">
		<div class="row">
			<div class="col-3">
				<div class="logoContainer">
					<img src="/wp-content/uploads/2022/07/origen-logo-.png" alt="Origin Logo" />
				</div>
			</div>
			<div class="col-9 link-col">
				<div class="linkCOntainer">
					<div class="centerContainer">
						<div class="child">
							<a href="#">Home</a>
							<a href="#">About</a>
							<a href="#">CAPABILITIES <i class="fas fa-angle-down"></i></a>
							<a href="#">INDUSTRIES <i class="fas fa-angle-down"></i></a>
							<a href="#">Contact</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
