<div id="blogModule">
	<div class="bg">
		<img src="/wp-content/uploads/2022/07/blog-background.png" alt="" />
	</div>
	<div class="container">
		<div class="titleRow">
			<h4 data-aos="fade-up">
				IN THE NEWS
			</h4>
			<div class="dividerThree" data-aos="fade-up" data-aos-delay="100"></div>
		</div>
		<div class="row">
			<div class="col-lg-4">
				<div class="contentBox" data-aos="fade-up">
					<div class="imgContainer">
						<img src="/wp-content/uploads/2022/07/base-img-copy.png" alt="" />
					</div>

					<div class="content">
						<h5>
							Nec nam aliquam sem tortor
						</h5>
						<p>
							Phasellus hendrerit. Pellentesque aliquet nibh nec urna.
						</p>
						<a href="" class="themeLink">Read More <i class="fas fa-long-arrow-alt-right"></i></a>
					</div>
				</div>
			</div>
			<div class="col-lg-4">
				<div class="contentBox" data-aos="fade-up" data-aos-delay="100">
					<div class="imgContainer">
						<img src="/wp-content/uploads/2022/07/base-img.png" alt="" />
					</div>

					<div class="content">
						<h5>
							Nec nam aliquam sem tortor
						</h5>
						<p>
							Phasellus hendrerit. Pellentesque aliquet nibh nec urna.
						</p>
						<a href="" class="themeLink">Read More <i class="fas fa-long-arrow-alt-right"></i></a>
					</div>
				</div>
			</div>
			<div class="col-lg-4">
				<div class="contentBox" data-aos="fade-up" data-aos-delay="200">
					<div class="imgContainer">
						<img src="/wp-content/uploads/2022/07/base-img-three.png" alt="" />
					</div>

					<div class="content">
						<h5>
							Nec nam aliquam sem tortor
						</h5>
						<p>
							Phasellus hendrerit. Pellentesque aliquet nibh nec urna.
						</p>
						<a href="" class="themeLink">Read More <i class="fas fa-long-arrow-alt-right"></i></a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
