<div class="" id="featuredIndustry">
	<div class="container">
		<div class="row">
			<div class="col-lg-6 order-2 order-1">
				<div class="imgContainer" data-aos="fade-up"  >
					<img src="https://picsum.photos/800/800" alt="" />
				</div>
			</div>
			<div class="col-lg-6 order-1 order-lg-2">
				<div class="content content-left" data-aos="fade-up">
					<h4>
						FEATURED INDUSTRY
					</h4>
					<div class="dividerThree"></div>
					<img src="/wp-content/uploads/2022/07/aerospace_icon.png" alt="" />
					<h2>
						Aerospace + </br>Defense
					</h2>
					<p>
						Origen works with the leading aerospace and defense manufacturers to engineer and optimize their
						product manufacturing workflows and augmenting current engineering infrastructures.
					</p>
					<div class="divider"></div>
					<a href="" class="themeLink">View All Industires <i class="fas fa-long-arrow-alt-right"></i></a>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="" id="featuredIndustry">
	<div class="container">
		<div class="row">
			<div class="col-lg-6 " data-aos="fade-up">
				<div class="content">
					<h4>
						OUR EXPERTISE
					</h4>
					<div class="dividerThree"></div>

					<h2>
						Engineering tomorrow – today.
					</h2>
					<p>
						Origen provides problem solving manufacturing services that enables our customers to innovate,
						develop, re-design, or re-source products. We are uniquely positioned to provide alternative means of
						outsourcing critical engineered compnents for the aerospace, medical, petrochemical, defense and
						commercial markets.
					</p>
					<div class="divider"></div>
					<a href="" class="themeLink">
						Start A Project
						<i class="fas fa-long-arrow-alt-right"></i>
					</a>
				</div>
			</div>
			<div class="col-lg-6" data-aos="fade-up">
				<div class="imgContainer">
					<img src="/wp-content/uploads/2022/07/IT.png" alt="" />
				</div>
			</div>
		</div>
	</div>
</div>
