<div class="homeHeader">
	<div class="galleryImages">
		<div>
			<img src="/wp-content/uploads/2022/07/Origen-Header-Image.jpg" alt="Origin Logo" />
		</div>
		<div>
			<img src="https://picsum.photos/1920/950" alt="Origin Logo" />
		</div>
		<div>
			<img src="https://picsum.photos/1920/1000" alt="Origin Logo" />
		</div>
	</div>

	{# <img class="bg-image" src="/wp-content/uploads/2022/07/Origen-Header-Image.jpg" alt="Origen Header Image One" /> #}
	<div class="container">
		<div class="row">
			<div class="col-lg-6">
				<div class="parent">
					<div class="child">
						<div class="copyContainer">
							<h1 data-aos="fade-right">
								Engineering manufacturing soultions at scale.
							</h1>
							<p data-aos="fade-in" data-aos-delay="300">
								At Orgien, we provide end-to-end engineering and management solutions enabling our clients to
								focus on the future of their business and innovating the products needed to take them there.
							</p>
							<div class="divider" data-aos="fade-in" data-aos-delay="500"></div>
							<a href="" class="themeLink" data-aos="fade-in" data-aos-delay="500">
								VIEW CAPABILITIES <i class="fas fa-long-arrow-alt-right"></i>
							</a>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="arrow-placement">
			<i id="slickNext" class="fas fa-long-arrow-alt-right"></i>
			<i id="slickPrev" class="fas fa-long-arrow-alt-left"></i>
		</div>
	</div>
</div>
