<div id="stats">
	<div class="bigDivider"></div>
	<div class="container">
		<div class="row">
			<div class="col-sm-6 col-lg-3" data-aos="fade-up">
				<div class="contentBox boxLimit">
					<h6>
						AVG COST SAVINGS
					</h6>
					<h2>
						27%
					</h2>
					<p>
						Origen QPS™ optimizes cost for scalable manufactured parts and assemblies.
					</p>
				</div>
			</div>
			<div class="col-sm-6 col-lg-3" data-aos="fade-up" data-aos-delay="100">
				<div class="contentBox boxLimit">
					<h6>
						QUALITY & COMPLIANCE
					</h6>
					<h2>
						ISO 9001/ AS 9100
					</h2>
					<p></p>
				</div>
			</div>

			<div class="col-sm-12 col-lg-6" data-aos="fade-up" data-aos-delay="200">
				<div class="row">
					<div class="col-sm-6 col-lg-7">
						<div class="contentBox specialBox">
							<h6>
								SPEED TO MARKET
							</h6>
							<h2>
								5x
							</h2>
							<p>
								Our parallel prototyping capabilities reduce timelines and ensures smooth transitions to testing
								and production.
							</p>
						</div>
					</div>
					<div class="col-sm-6 col-lg-5" data-aos="fade-up" data-aos-delay="300">
						<div class="contentBox boxLimit">
							<h6>
								INCREASE SCOPE
							</h6>
							<h2>
								4X
							</h2>
							<p>
								Origen’s Contracted Supply Chain delivers services and knowledge at scale.
							</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
