<div id="whatWeDo">
	<div class="container">
		<h4 data-aos="fade-up">
			WHAT WE DO
		</h4>
		<div>
			<div class="dividerTwo" data-aos="fade-up"></div>
		</div>
		<div class="content">
			<h2 data-aos="fade-up">
				Origen QPS™ develops products at scale without compromise or complications.
			</h2>
			<p data-aos="fade-up">
				Our Quality Production Sphere™ provides a proven model and methodology based on a lean manufacturing
				structure with cost transparency. Origen QPS™ ensures best-in-industry quality & compliance standards on
				every product we deliver.
			</p>
			<div class="row">
				<div class="col-6 col-lg-4">
					<div class="contentBox" data-aos="fade-up">
						<img src="/wp-content/uploads/2022/07/new-Product-Icon-1.png" alt="" />
						<p>
							New Product Introduction (NPI)
						</p>
					</div>
				</div>
				<div class="col-6 col-lg-4">
					<div class="contentBox" data-aos="fade-up" data-aos-delay="50">
						<img src="/wp-content/uploads/2022/07/supply-chain-1.png" alt="" />
						<p>
							New Product Introduction (NPI)
						</p>
					</div>
				</div>
				<div class="col-6 col-lg-4">
					<div class="contentBox" data-aos="fade-up" data-aos-delay="100">
						<img src="/wp-content/uploads/2022/07/connections-1.png" alt="" />
						<p>
							New Product Introduction (NPI)
						</p>
					</div>
				</div>
				<div class="col-6 col-lg-4">
					<div class="contentBox" data-aos="fade-up" data-aos-delay="150">
						<img src="/wp-content/uploads/2022/07/move-1.png" alt="" />
						<p>
							New Product Introduction (NPI)
						</p>
					</div>
				</div>
				<div class="col-6 col-lg-4">
					<div class="contentBox" data-aos="fade-up" data-aos-delay="200">
						<img src="/wp-content/uploads/2022/07/resize-icon-1.png" alt="" />
						<p>
							New Product Introduction (NPI)
						</p>
					</div>
				</div>
				<div class="col-6 col-lg-4">
					<div class="contentBox" data-aos="fade-up" data-aos-delay="250">
						<img src="/wp-content/uploads/2022/07/check-badge.png" alt="" />
						<p>
							New Product Introduction (NPI)
						</p>
					</div>
				</div>
			</div>
			<div class="buttonContainer" data-aos="fade-up" data-aos-delay="100">
				<a href="#" class="mainBTN">EXPLORE OUR CAPABILITIES</a>
			</div>
		</div>
	</div>
</div>
