{# ? Why Origen #}
<div id="whyOrigen">
	<div class="container">
		<div>
			<h4 data-aos="fade-up">
				Why Origen
			</h4>
			<div>
				<div class="dividerTwo" data-aos="fade-up"></div>
			</div>
		</div>
		<div class="content" data-aos="fade-up">
			<p class="uniquefont">
				Origen brings 65 years of experience & innovation to the manufacturing services industry providing companies
				with expertiese in casting, forging, thermoplastic injection molding, mold making, machining,
				electromechanical, and quality control disciplines within budget and on-time.
			</p>
		</div>
	</div>
</div>
