<footer class="footerLayout">
	<div class="bigDivider"></div>

	<div class="container">
		<div class="row">
			<div class="col-md-6 col-lg-3">
				<div class="logoContainer">
					<img src="/wp-content/uploads/2022/07/origen-logo-.png" alt="footer logo" />
				</div>
				<div class="footerPOC">
					<a href="#"><i class="fas fa-phone-alt"></i> +1 949 . 229 . 0971</a>

					<a href="#"><i class="fas fa-envelope"></i> info@origenmade.com</a>
				</div>
			</div>
			<div class="col-md-6 col-lg-3">
				<div class="footerContentContainer">
					<h3>
						WEST COAST
					</h3>
					<p>
						4790 Caughlin Parkwa <br /> Suite #501 <br /> Reno, NV 89519
					</p>
				</div>
				<div class="footerContentContainer">
					<h3>
						EAST COAST
					</h3>
					<p>
						5 Match Pt. <br />
						Dennis, MA 02638
					</p>
				</div>
			</div>
			<div class="col-md-6 col-lg-3 hideOnMobile">
				<div class="footerContentContainer">
					<h3>
						Company
					</h3>
					<a href="#">About</a>
					<a href="#">Contact</a>
				</div>
			</div>
			<div class="col-md-6 col-lg-3 hideOnMobile">
				<div class="footerContentContainer">
					<h3>
						Company
					</h3>
					<a href="#">New Product Introduction (NPI)</a>
					<a href="#">Re-Design Product Engineering (RPE)</a>
					<a href="#">Supply Chain Solutions</a>
					<a href="#">Contract Manufacturing</a>
					<a href="#">No Quote Initiative / Resourcing</a>
				</div>
			</div>
		</div>
	</div>
</footer>

<div id="copyRightFooter">
	<div class="container">
		<div class="leftContent">
			<p class="copyright">
				Copyright 2022 Origen, LLC. All Rights Reserved.
			</p>

			<a href="#">Privacy Policy</a> | <a href="#">Legal Disclaimer</a> | <a href="#">Terms of Use</a>
		</div>
		<div class="rightContent">
			<p class="externalLinks">
				Stay Connected <i class="fab fa-linkedin"></i>
			</p>
		</div>
	</div>
</div>
