<div id="capabilitiesHeader">
  <div class="bgContainer">
    <img src="/wp-content/uploads/2022/07/airplane-background.png" alt="" />
  </div>
  <div class="titleRow">
    <img src="/wp-content/uploads/2022/07/origen-sphere.png" alt="" />
    <h1>
      Our Capabilities
    </h1>
    <div class="dividerTwo"></div>
  </div>

  <div class="container centerContent">
    <div class="contentBox add-padding">
      <div class="bgContainer">
        <img src="/wp-content/uploads/2022/07/bg.png" alt="" />
      </div>
      <img class="catIcon"
        src="/wp-content/uploads/2022/07/launch-Icon.png"
        alt="" />
      <p>
        New Product <br />Introduction (NPI)
      </p>
    </div>
    <div class="contentBox add-padding">
      <div class="bgContainer">
        <img src="/wp-content/uploads/2022/07/bg.png" alt="" />
      </div>
      <img class="catIcon"
        src="/wp-content/uploads/2022/07/resize-Icon.png"
        alt="" />
      <p>
        Re-Design Product <br />Engineering (RPE)
      </p>
    </div>
    <div class="contentBox add-padding">
      <div class="bgContainer">
        <img src="/wp-content/uploads/2022/07/bg.png" alt="" />
      </div>
      <img class="catIcon"
        src="/wp-content/uploads/2022/07/network-Icon.png"
        alt="" />
      <p>
        Contract<br /> Manufacturing
      </p>
    </div>
    <div class="contentBox add-padding">
      <div class="bgContainer">
        <img src="/wp-content/uploads/2022/07/bg.png" alt="" />
      </div>
      <img class="catIcon"
        src="/wp-content/uploads/2022/07/Gear-Icon.png"
        alt="" />
      <p>
        Supply Chain <br />Solutions
      </p>
    </div>
    <div class="contentBox fullWMobile">
      <div class="bgContainer">
        <img src="/wp-content/uploads/2022/07/bg.png" alt="" />
      </div>
      <img class="catIcon"
        src="/wp-content/uploads/2022/07/move-Icon.png"
        alt="" />
      <p>
        Origen No <br />Quote Initiative (NQI)
      </p>
    </div>
  </div>
</div>
